.signup-div, .login-box{
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(0, 102, 255, 0.945);
    width: 60%;
}
.inputs, .login-inputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.inputs input, .login-inputs input{
    padding: 5px 0;
    background: none;
    border-radius: 6px;
    border: 2px solid rgb(174, 174, 174);
    color: white;
}

.inputs input::placeholder, .login-inputs input::placeholder{
    text-align: center;
    color: rgba(255, 255, 255, 0.718);
}
p{
    padding: 2px;
    display: flex;
    align-items: center;
}
.register button, .login-actions button{
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
}